.with-underline {
    font-size: 40px;
    font-family: $font-roboto-condensed;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;

    &:after {
        content: '';
        display: block;
        width: 95px;
        height: 7px;
        background-color: $red;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}